<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="function.js" defer></script>
</head>
<body>
    <!-- Loader animation -->
    <figure class="loader" id="loader">
    <div class="dot white"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</figure>

    <header class = "navbar">
        <div class="nav-logo hover-effect" href="index.html"></div>
        <div class="nav-title hover-effect">
            <a class="nav-link" href="index.html">
                <p>Government of India</p>
                <p>भारत सरकार</p>
            </a>
        </div>

    </header>
</body>
</html>